.listview {
    width: 50vw;
    display: grid;
}
.listview.listview-lg {
    width: 85vw;
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal > .modal-dialog {
    align-items: center;
    display: flex;
}

.valid-feedback, .invalid-feedback {
    display: block;
}

.add-bubble-wrapper {
    display: flex;
}

.add-bubble {
    background-color: #dddddd;
    border-radius: 15px 0 0 15px;
    height: 30px;
    width: 15px;
}

.add-bubble-tail {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #dddddd;
    border-bottom: 15px solid transparent;
}

@media print {
    .print-preview .print-hide {
        display: none !important;
    }
}